<!DOCTYPE html>
<html>
<head>
    <title>Other Template</title>
</head>
<body>
    {% if username %}
        <p>Welcome, {{ username }}!</p>
        <a href="{%url 'logout'%}">Logout</a>
        <br>
        <br>
        <a href="{% url 'mail_sender' %}" >Send Mail</a>
    {% else %}
        <p>Please log in to see your username.</p>
        <a href="{%url 'login'%}">Login</a>
        <br>
        <br>
        <a href="{% url 'login' %}" >Send Mail</a>
    {% endif %}
    <br>
    <br>
<a href="{% url 'course_scrap' %}" > Courses Scrapped </a>
<br>
<br>
<a href="{% url 'search' %}">See all users</a>
<br>
<br>
<a href="{% url 'employees' %}" > Add Employee </a>
    <br>
    <br>

<a href="{% url 'choose_employee' %}" > Update Employee </a>
<br>
<br>
<a href="{% url 'all_channel' %}" > Channels </a>
<br>
<br>
<a href="{% url 'all_task' %}" > Employee Tasks </a>


</body>
</html>



